<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('head'); -%>
		<title>Zenius Center | Pendaftaran</title>
	</head>
	
	<body>
		<%- include('header'); -%>
		<main id="profile-page" class="content-space">
			<div class="container">
				<div class="row">
					<div class="col-lg-12"><%=nama%></div>
				</div>
				<div class="row">
					<div class="col-lg-12"><%=email%></div>
				</div>
				<div class="row">
					<div class="col-lg-12"><%=tryout%></div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<% if (paid === 'paid'){ %>

							<div>Username: <b><%= typeof accounts.uname != 'undefined' ? accounts.uname : 'If your accounts doesnt show please contact customer service' %></b></div>
							<div>Password: <b><%= typeof accounts.pwd != 'undefined' ? accounts.pwd : 'If your accounts doesnt show please contact customer service' %></b></div>
						<%} else {%>	
							<div class="row">
								<div class="col-12">
									<ul>
										<li><b>Tryout Tanggal 23 May</b></li>
										<li>Cara Mendaftar:</li>
										<li>Transfer Rp 35.000 ke Rekening <b>0330-01-060075-50-7</b> Atas Nama <b>Riqqa Azzahra<b></li>
										<li>Kirim Data diri(Nama dan Email) dan Bukti Transfer ke: Whatsapp - 0813-8670-6491</li>
										<li>Akun akan diproses dalam waktu 1x24 Jam</li>
									</ul>
								</div>
							</div>
						<%};%>						
					</div>
				</div>
			</div>
		</main>
		<%- include('footer'); -%>
		<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
		<!-- Uncomment below i you want to use a preloader -->
		<!-- <div id="preloader"></div> -->
		<%- include('script'); -%>
		<script>
			$('#profile-menu').addClass('menu-active');
		</script>
	</body>
</html>