<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('head'); -%>
		<title>Zenius Center | Pendaftaran</title>
	</head>
	<body>
		<%- include('header'); -%>
		<main id="profile-page" class="content-space">
			<div class="container">
				<div class="row">
					<div class="col-lg-12"><%=nama%></div>
				</div>
				<div class="row">
					<div class="col-lg-12"><%=email%></div>
				</div>
				<div class="row">
					<div class="col-lg-12"><%=tryout%></div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<% if (paid === 'paid'){ %>

							<div>Username: <b><%= typeof accounts.uname != 'undefined' ? accounts.uname : 'If your accounts doesnt show please contact customer service' %></b></div>
							<div>Password: <b><%= typeof accounts.pwd != 'undefined' ? accounts.pwd : 'If your accounts doesnt show please contact customer service' %></b></div>
						<%} else {%>
							<button id="pay-button">Pay!</button>
							<pre><div id="result-json">JSON result will appear here after payment:<br></div></pre>
							<!-- TODO: Remove ".sandbox" from script src URL for production environment. Also input your client key in "data-client-key" -->
							<script src="https://app.midtrans.com/snap/snap.js" data-client-key="<%= typeof clientKey != 'undefined' ? clientKey : '' %>"></script>
							<script type="text/javascript">
							document.getElementById('pay-button').onclick = function(){
								// SnapToken acquired from previous step
								snap.pay('<%= typeof mytoken != 'undefined' ? mytoken : '' %>', {
									// Optional
									onSuccess: function(result){
										window.location.replace("/addProf/<%= uuid %>");
									},
									// Optional
									onPending: function(result){
									/* You may add your own js here, this is just example */ document.getElementById('result-json').innerHTML += JSON.stringify(result, null, 2);
									},
									// Optional
									onError: function(result){
									/* You may add your own js here, this is just example */ document.getElementById('result-json').innerHTML += JSON.stringify(result, null, 2);
									}
								});
							};
							</script>
						<%};%>
						
					</div>
				</div>
			</div>
		</main>
		<%- include('footer'); -%>
		<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
		<!-- Uncomment below i you want to use a preloader -->
		<!-- <div id="preloader"></div> -->
		<%- include('script'); -%>
		<script>
			$('#profile-menu').addClass('menu-active');
		</script>
	</body>
</html>