<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('head'); -%>
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>
		<title>Zenius Center | Pendaftaran</title>
	</head>
	<body>
		<%- include('header'); -%>
		<main id="register-page" class="content-space">
			<div class="container">
				<div class="row">
					<header class="section-header wow ">
						<h3>Pendaftaran</h3>
					</header>
				</div>
				<div class="row">
					<div class="col-12">
						<form action="/register-request" method="POST">
							<div class="row">
								<div class="col-lg-2">
									<h5>Email</h5>
								</div>
								<div class="col-lg-6">
									: <input maxlength="50" required type="email" name="email" placeholder="Email">
									<div><i>Email digunakan untuk Login</i></div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-2">
									<h5>Nama</h5>
								</div>
								<div class="col-lg-6">
									: <input maxlength="50" required type="text" name="nama" placeholder="Nama">
								</div>
							</div>
							<div class="row">
								<div class="col-lg-2">
									<h5>Alamat</h5>
								</div>
								<div class="col-lg-6">
									: <input maxlength="50" required type="text" name="alamat" placeholder="Alamat">
								</div>
							</div>							
							<div class="row">
								<div class="col-lg-2">
									<h5>Nomor Hp</h5>
								</div>
								<div class="col-lg-6">
									: <input maxlength="50" required type="number" name="phone" placeholder="Nomor Hp">
								</div>
							</div>
							<div class="row">
								<div class="col-lg-2">
									<h5>Sekolah</h5>
								</div>
								<div class="col-lg-6">
									: <input maxlength="50" required type="text" name="sekolah" placeholder="Sekolah">
								</div>
							</div>
							<div class="row">
								<div class="col-lg-2">
									<h5>Kelas</h5>
								</div>
								<div class="col-lg-6">
									: <input maxlength="50" required type="text" name="kelas" placeholder="Kelas">
								</div>
							</div>
							<div class="row">
								<div class="col-lg-2">
									<h5>Jurusan</h5>
								</div>
								<div class="col-lg-6">
									: <input maxlength="50" required type="text" name="jurusan" placeholder="Jurusan">
								</div>
							</div>
							<div class="row">
								<div class="col-lg-2">
									<h5>Instagram</h5>
								</div>
								<div class="col-lg-6">
									: <input maxlength="50" type="text" name="ig" placeholder="Instagram">
								</div>
							</div>
							<div class="row">
								<div class="col-lg-2">
									<h5>Password</h5>
								</div>
								<div class="col-lg-6">
									: <input pattern=".{5,50}" required type="password" name="pwd" placeholder="Password">
									<div><i> Password harus diatas 5 karakter</i></div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-2">
									<h5>Ulangi Password</h5>
								</div>
								<div class="col-lg-6">
									: <input pattern=".{5,50}" required type="password" name="upwd" placeholder="Ulangi Password">
								</div>
							</div>
							<div class="row">
								<div class="div col-lg-2"></div>
								<div class="col-lg-6">
									<%- captcha %>
									
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<% if (ermes){ %>
									<div class="alert alert-danger" role="alert">
										<%= ermes %>
									</div>
									<%};%>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-2"></div>
								<div class="col-lg-6">
									<button type="Submit" class="btn btn-primary">Daftar</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</main>
		<%- include('footer'); -%>
		<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
		<!-- Uncomment below i you want to use a preloader -->
		<!-- <div id="preloader"></div> -->
		<%- include('script'); -%>
		<script>
			$('#register-menu').addClass('menu-active');
		</script>
	</body>
</html>